.container__btn {
    position: relative;
}

button {
    background-color: #f469bc; 
    border: 0;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: -100px;
    right: -20px;
}
button:hover {
    animation-name: blink;
    animation-duration: 1s;
    font-size: 32px; 
}

@keyframes blink {
    to { 
        background-color: #b30a6f;
        font-size: 32px; 
    }
    from { 
        background-color: #f469bc;
        font-size: 18px; 
    }
}